.home {
    text-align: center;
    padding: 50px;
  }
  
  .home-buttons button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .home-buttons button:hover {
    background-color: #45a049;
  }
  